<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jobcho.mapper.BoardMapper">
	<cache />
	
	
	<!-- 게시판 목록 가져오기 -->
	<select id="getListBoard" parameterType="int" resultType="org.jobcho.domain.BoardVO">
		<![CDATA[ 
			select * from board
			where team_num = #{team_num}
			and islive = 1
		]]>
	</select>
	
	
	<!-- 게시판 생성 -->
	<insert id="insertBoard" parameterType="org.jobcho.domain.BoardVO"> 
		<![CDATA[ 
			insert into board (
					board_num, board_name, board_info, team_num, member_num, islive, board_date
				) 
				values(
					board_num.nextval, #{board_name}, #{board_info}, #{team_num}, #{member_num}, default, default
				)
		]]>
	</insert>
	
	
	<!-- 게시판 수정 -->
	<update id="updateBoard" parameterType="org.jobcho.domain.BoardVO">
		update board set board_name= #{board_name }, board_info= #{board_info }
		where board_num= #{board_num }
	</update>
	
	
	<!-- 게시판 삭제 (isLive 수정) -->
	<delete id="deleteBoard" parameterType="int">
		update board set islive = 0
		where board_num = #{board_num}
	</delete> 
	
	
	
</mapper>















