<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.jobcho.mapper.CalendarMapper">
	<cache />
	
	
	<!-- 댓글 목록 -->
	<select id="getListCalendar" resultType="org.jobcho.domain.CalendarVO">
		<![CDATA[ 
			select * from reply
		]]>
	</select>
	
	
	<!-- 댓글 생성 -->
	<insert id="insertCalendar" parameterType="org.jobcho.domain.CalendarVO"> 
		<![CDATA[ 
			insert into calendar(cal_num, cal_title, member_num, cal_contents, starts, ends, allday, islive) 
				values(
					Reply_num.nextval, #{cal_title}, #{member_num}, #{cal_contents}, default, default, 1, 1
				)
		]]>
	</insert>
	
	<!-- 댓글 수정 -->
	<update id="updateCalendar" parameterType="org.jobcho.domain.CalendarVO">
		update reply set reply_contents= #{reply_contents}
		where reply_num= #{reply_num}
	</update>
	
	<!-- 댓글 삭제 -->
	<select id="deleteCalendar" parameterType="int">
		update calendar set islive = 0
		where cal_num = #{cal_num}
	</select> 
	
	<!-- 댓글 조회 -->
	<select id="readReply" resultType="org.jobcho.domain.CalendarVO">
		select * from reply where reply_num = #{reply_num}
		</select>
	
	
</mapper>















