<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jobcho.mapper.BoardMapper">
	<cache />

<insert id="insertMember" parameterType="org.jobcho.domain.MemberVO">
	<![CDATA[ 
			insert into member(member_num, member_position, team_num, user_num) 
				values(
					member_num.nextval, #{member_position}, #{team_num}, #{user_num}
				)
			]]>
</insert>

<select id ="listTeamMember" parameterType="int">
	<![CDATA[select * from member where team_num = #{team_num}]]>
</select>








</mapper>