<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jobcho.mapper.PostMapper">

	<resultMap type="org.jobcho.domain.PostVO" id="PostMember">
		<result property="post_num" column="post_num"/>
		<result property="post_title" column="post_title"/>
		<result property="post_contents" column="post_contents"/>
		<result property="board_num" column="board_num"/>
		<result property="member_num" column="member_num"/>
		<result property="isLive" column="islive"/>
		<association property="member" javaType="org.jobcho.domain.MemberVO">
			<id property="member_num" column="member_num"/>
			<result property="member_position" column="member_position"/>
			<result property="team_num" column="team_num"/>
			<result property="user_num" column="user_num"/>
		</association>
	</resultMap>
	
	
	<!-- 게시글 리스트 조회 -->
	<select id="getListPost" parameterType="int" resultMap="PostMember">
		<![CDATA[ 
				select *
				from post p, member m 
				where p.member_num = m.member_num
				and p.board_num = #{board_num}
				and p.islive =1

		]]>	
	</select>



	<!-- 게시글 생성 -->
	<insert id="insertPost" parameterType="org.jobcho.domain.PostVO">
			insert into post(
				post_num, post_title, post_contents, board_num, member_num, post_date, islive
			)
			values(post_num.nextval, #{post_title}, #{post_contents}, #{board_num}, #{member_num}, default, default)
	</insert>
	

	<!-- 게시글 상세조회 -->
	<select id="getPost" parameterType="int" resultType="org.jobcho.domain.PostVO">
		<![CDATA[ 
				select * from post
				where post_num = #{post_num}
				and islive = 1
			]]>
	</select>
	
	
	<!-- 게시글 수정 -->
	<update id="updatePost" parameterType="org.jobcho.domain.PostVO">
		update post set post_title = #{post_title}, post_contents = #{post_contents}
		where post_num= #{post_num } 
	</update>
	
	
	<!-- 게시글 삭제 -->
	<delete id="deletePost"  parameterType="int">
		update post set islive = 0
		where post_num = #{post_num}
	</delete>
	
	
	<!-- 전체 게시글 수 -->
	<select id="getTotalCount" resultType="int">
		select count(*) from post 
		where
		
		post_num > 0
	</select>
	
	
	<!-- 댓글 수 업데이트 -->
	<update id="updateReplyCnt">
		update post set replycnt = replycnt + #{amount}
		where post_num = #{post_num}
	</update>
	
	
	

</mapper>
