<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jobcho.mapper.VoteResultMapper">

<select id ="getVoteResult" parameterType="int" resultType="org.jobcho.domain.VoteResultVO">

	select 
count(decode(vote_result1,1,1)) vote_result1, 
count(decode(vote_result2,2,1)) vote_result2, 
count(decode(vote_result3,3,1)) vote_result3, 
count(decode(vote_result4,4,1)) vote_result4, 
count(decode(vote_result5,5,1)) vote_result5
	from vote_result
	where vote_num = #{vote_num}  

</select>

<select id = "getVoteResultMember" parameterType = "int" resultType = "int">
	select member_num from vote_result where vote_num = #{vote_num}
</select>

<insert id="insertVoteResult" parameterType="org.jobcho.domain.VoteResultVO">
	insert into vote_result(vote_num, vote_result1, vote_result2, vote_result3, vote_result4, vote_result5, member_num, islive)
	values(#{vote_num}, #{vote_result1}, #{vote_result2}, #{vote_result3}, #{vote_result4}, #{vote_result5}, #{member_num}, default)
</insert>

<select id = "getContent1ResultMember" parameterType = "org.jobcho.domain.VoteResultVO" resultType = "org.jobcho.domain.VoteResultVO">
	select u.user_name from users u, member m, vote_result r
	where r.member_num = m.member_num
  and m.user_num = u.user_num
  and r.vote_result1 = 1
  and r.vote_num = #{vote_num}
  </select>

<select id = "getContent2ResultMember" parameterType = "org.jobcho.domain.VoteResultVO" resultType = "org.jobcho.domain.VoteResultVO">
  select u.user_name from users u, member m, vote_result r
  where r.member_num = m.member_num
  and m.user_num = u.user_num
  and r.vote_result2 = 2
  and r.vote_num = #{vote_num}
</select>

<select id = "getContent3ResultMember" parameterType = "org.jobcho.domain.VoteResultVO" resultType = "org.jobcho.domain.VoteResultVO">
	select u.user_name from users u, member m, vote_result r
	where r.member_num = m.member_num
  and m.user_num = u.user_num
  and r.vote_result3 = 3
  and r.vote_num = #{vote_num}
</select>

<select id = "getContent4ResultMember" parameterType = "org.jobcho.domain.VoteResultVO" resultType = "org.jobcho.domain.VoteResultVO">
		select u.user_name from users u, member m, vote_result r
	where r.member_num = m.member_num
  and m.user_num = u.user_num
  and r.vote_result4 = 4
  and r.vote_num = #{vote_num}
</select>

<select id = "getContent5ResultMember" parameterType = "org.jobcho.domain.VoteResultVO" resultType = "org.jobcho.domain.VoteResultVO">
		select u.user_name from users u, member m, vote_result r
	where r.member_num = m.member_num
  and m.user_num = u.user_num
  and r.vote_result5 = 5
  and r.vote_num = #{vote_num}
</select>

</mapper>