<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>게시글 목록</title>
</head>
<body>

	<div class="">
		<div class="">
			<h1 class="">게시판 이름</h1>
		</div>
	</div>

	<div class="">
		<div class="">
			<div class="">
				<div class="">
					게시판 정보
					
					<button id='regBtn' type="button" class="btn btn-xs pull-right">게시글 등록</button>
				</div>

				
				<div class="panel-body">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>번호</th>
								<th>제목</th>
								<th>작성자</th>
								<th>작성일</th>
							</tr>
						</thead>

						<!------- 게시글 리스트 가져오기 (List 처리) -------->
						  <!--<c:forEach items="${postList}" var="postList">-->
							<tr>
								<td>${postList.post_num}"</td>
								<td>
									<a class='' href='${postList.post_num}'> <!--게시글 클릭시 게시글 번호 전달 -->
										${postList.post_title}
									</a>
							 	</td>

								<td>${user_name}</td> <!-- 작성자 이름 -->
								<td>${postList.post_date}</td><!-- yyyy-MM-dd 형식으로 출력 -->
							</tr>
						 <!--</c:forEach>-->
					</table>


					<!--------------- 검색창 ----------------->
					<div class='row'>
						<div class="col-sm-7">

							<form id='searchForm' action="/post/list" method='get'>
								<select name='type'>
									<option value="" value="${pageMaker.cri.type == null?'selected':''}" />
										
									</option>
									<option value="T" value="${pageMaker.cri.type eq 'T'?'selected':''}" />
										제목
									</option>
									<option value="C" value="${pageMaker.cri.type eq 'C'?'selected':''}" />
										내용
									</option>
									<option value="W" value="${pageMaker.cri.type eq 'W'?'selected':''}" />
										작성자
									</option>
									<option value="TC" value="${pageMaker.cri.type eq 'TC'?'selected':''}" />
										제목 or 내용
									</option>
									<option value="TW" value="${pageMaker.cri.type eq 'TW'?'selected':''}" />
										제목 or 작성자
									</option>
									<option value="TWC" value="${pageMaker.cri.type eq 'TWC'?'selected':''}" />
										제목 or 내용 or 작성자
									</option>
								</select> 
									<input type='text' name='keyword' value='${pageMaker.cri.keyword}' />
									<input type='hidden' name='amount' value='${pageMaker.cri.amount}' /> 
									<input type='hidden' name='pageNum' value='${pageMaker.cri.pageNum}' /> 
									
								<button class='btn btn-default'>검색</button>
							</form>
						</div>
					</div>
					

					<!---------------- 페이지 처리 ----------------->
					<div class='pull-right'>
						<ul class="pagination">

							<!-- '이전' 조건문 처리 -->
							<c:if test="${pageMaker.prev}">
								<li class="paginate_button previous">
									<a href="${pageMaker.startPage -1}">이전</a>
								</li>
							</c:if>
							
							<!-- 페이지 숫자 -->
							<c:forEach var="num" begin="${pageMaker.startPage}" end="${pageMaker.endPage}">
								<!--선택한 번호 이벤트처리(삼항연산자) -->
								<li class="paginate_button  ${pageMaker.cri.pageNum == num ? "active":""} ">
									<a href="${num}">${num}</a>
								</li>
							</c:forEach>

							<!-- '이후' 조건문 처리 -->
							<c:if test="${pageMaker.next}">
								<li class="paginate_button next">
									<a href="${pageMaker.endPage +1 }">이후</a>
								</li>
							</c:if>
							
						</ul>
					</div>
					<!--  end Pagination -->
				</div>

				<!---------------form을 이용한 데이터 유지-------------->
				<form id='actionForm' action="/post/list" method='get'>
					<input type='hidden' name='pageNum' value='${pageMaker.cri.pageNum}'> 
					<input type='hidden' name='amount' value='${pageMaker.cri.amount}'> 
					 <input ype='hidden' name='type' value='${ pageMaker.cri.type }'> 
					 <input type='hidden' name='keyword' value='${ pageMaker.cri.keyword }'>
				</form>

			</div>
			<!--  end panel-body -->
		</div>
		<!-- end panel -->
	</div>
	<!-- /.row -->

</body>
</html>



<!-- Script Code-->
<script>
	
</script>